.login_page,
.register_page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}
.tex_cent{
  text-align: center;
}

.img-home{
  height: "55px";
  width: "55px";
}

